* {
    background-color: whitesmoke;
    color: black;
    background-image:url()

}

.img {
    border-radius: 8px;
    height: 300px;
    width: auto;
}
.title {
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
    color: green;
}

.recipe {
    font-weight: bolder;
    font-size: xx-large;
}

.moe {
    font-family: Papyrus;
}

.burger {
    font-family: monospace;
}

.salmon {
    font-family: "Brush Script MT";
    font-weight: lighter;
    
}